h1 {
    color: #3be4fa;
    text-align: center;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(11, 19, 43, 1); 
    font-size: 20px;
}

.boxSizeForm {
    border-radius: 8px;
}

.gridRow {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
}

img {
    width: 27px;
}

#root {
    display: grid;
    /* flex-direction: column;*/
}

.mineSweeper {
    margin: 0 auto;
}

.start {
    margin: 0 auto;
    display: grid;
    color: white;
    width: 50%;
}

div.start .MuiTextField-root .MuiInputBase-root .MuiInputBase-input,
div.start .MuiTextField-root label {
    color: white;
}

div.start .MuiTextField-root .MuiInputBase-root .MuiInputBase-input {
    border-bottom: 1px solid white;
}

div.start .MuiTextField-root .MuiInputBase-root.MuiInput-underline::after {
    border-bottom: 1px solid cyan;
}
div.start .MuiTextField-root .MuiInputBase-root.MuiInput-underline::before {
    border-bottom: 1px solid grey;
}